.popoverStyle {
    z-index: 99999 !important;
}

a {
    color: #212529 !important;
}

.fc .fc-myCustomButton-button {
    background-image: url('../../../../public/assets/printButton.png'); /* Update the path */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 40px; /* Adjust the width as necessary */
    height: 40px; /* Adjust the height as necessary */
    padding: 0;
  }

.fc .fc-button-primary {
    background-color: white;
    color: black;
    border-color: white; /* Or any other color you prefer for the border */
    border-radius: 15px; /* Adjust the border-radius to get the desired roundness */
}

.fc .fc-button-primary:hover {
    background-color: white;
    color: black;
    border-color: #4880FF; /* Or any other color you prefer for the border */
    border-radius: 15px; /* Adjust the border-radius to get the desired roundness */
}
