.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1050;
    width: 300px; /* Adjust width as needed */
    border-radius: 8px; /* Rounded corners */
  }
  
  .modal-close-button {
    position: absolute;
    top: 1px;
    right: 10px;
    margin-right: -5px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #333;
  }
  
  .modal-close-button:hover {
    color: #ff5c5c; /* Change color on hover */
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .modal-submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 1em;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modal-submit-button:hover {
    background-color: #0056b3;
  }

  .button-container {
    display: flex;
    gap: 10px; /* Adjust the gap between the buttons as needed */
}

.modal-save-button {
    flex: 1; /* Makes the button take up available space */
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-save-button:hover {
    background-color: #0056b3;
}

.modal-delete-button {
    flex: 1; /* Makes the button take up available space */
    padding: 10px;
    border: none;
    background-color: #ff0000;
    color: white;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-delete-button:hover {
    background-color: #d10000; /* Adjusted color for better contrast */
}

  
  /* Additional styles for the rest of the page */
  .popoverStyle {
    z-index: 99999 !important;
  }
  
  a {
    color: black !important;
  }
  
  .fc-event-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .event-title {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .fc-print-pdf-button {
    background-image: url('/assets/PrintPDF.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
  }
  
  .fc .fc-button-primary {
    background-color: white;
    color: black;
    border-color: white;
    border-radius: 15px;
    background-image: none;
  }
  
  .fc .fc-button-primary.input-no-outline:focus {
    outline: none !important;
  }
  
  .fc-toolbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  .fc-toolbar .fc-toolbar-chunk {
    display: flex;
    align-items: center;
  }
  
  .fc-toolbar-title {
    cursor: pointer;
    position: relative;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }
  
  .dropdown-menu.visible {
    display: block;
  }
  
  .custom-popover {
    z-index: 99999 !important;
    width: auto;
  }
  
  .custom-popover .popover-body {
    background-color: #FFC0CB;
    color: #333;
    border: 1px solid #ddd;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
  }
  
  .custom-popover .popover-arrow {
    display: none;
  }
  
  .custom-popover .event-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  @media print {
    body * {
      visibility: hidden;
    }
  
    .print-container,
    .print-container * {
      visibility: visible;
    }
  
    .print-container {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
  
  .print-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .print-container img {
    display: block;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .events-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .events-table th,
  .events-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .events-table th {
    background-color: #f2f2f2;
    color: black;
    font-weight: bold;
  }
  
  .events-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .events-table tr:hover {
    background-color: #ddd;
  }
  
  .events-table th,
  .events-table td {
    padding: 12px;
  }
  