table {
  table-layout: fixed;
  width: 100%;
}

.label-column {
  width: 35%; /* Adjust this value to make the label column wider */
}

.url-column {
  width: 30%; /* Adjust this value to make the URL column wider */
}



.edit-column, .delete-column {
  width: 30%; /* Adjust this value to make the order column narrower */
  text-align: center; /* Center align the content */
}

.fixed-size-row {
  height: 60px; /* Adjust this value to match your desired row height */
}

.fixed-size-row td {
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dragging {
  background: #f0f0f0; /* Add some visual indication while dragging */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.fixed-size {
  width: 28px !important;
  height: 28px !important;
  flex-shrink: 0; /* Prevent the image from shrinking */
}

.fixed-size-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 28px;
  height: 28px;
  margin: auto;
}

td img {
  width: 28px;
  height: 28px;
}
