.phone-input-container {
    display: flex;
    align-items: center;
}

.phone-input-button {
    border-radius: 50%;
    border: 2px solid #ccc;
}

.phone-input-dropdown {
    max-height: 150px;
    overflow-y: auto;
}

.react-tel-input .flag-dropdown {
    margin-right: 10px;
}

.react-tel-input .form-control {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding-left: 8px;
    font-size: 14px;
}
