@tailwind base;
@tailwind components;
@tailwind utilities;


.input-no-outline:focus {
    outline: none !important;
    box-shadow: none !important; 
}

.input-focus-style:focus {
    outline: none;
    border: 1px solid #4880FF;
    border-radius: 1.5rem; 
    box-shadow: none; 
  }

/* For the 'File' and 'Date' columns */
.th-file, .td-file, .th-date, .td-date {
  border: 2px solid #3182ce; /* Tailwind blue-500 */
}
    