@tailwind base;
@tailwind components;
@tailwind utilities;


.input-no-outline:focus {
    outline: none !important;
    box-shadow: none !important; 
}

.input-focus-style:focus {
    outline: none;
    border: 1px solid #4880FF;
    border-radius: 1.5rem; 
    box-shadow: none; 
  }

/* For the 'File' and 'Date' columns */
.th-file, .td-file, .th-date, .td-date {
  border: 2px solid #3182ce; /* Tailwind blue-500 */
}
  
.avatar-hover:hover {
  filter: grayscale(100%); /* Converts the image to grayscale on hover */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* High z-index to cover other content */
}

.blurred-background {
  filter: blur(8px); /* Adjust blur level as needed */
}

.avatar-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Creates 6 columns */
  gap: 10px; /* Space between items */
  margin-top: 10px; /* Top margin */
}

.app {
  font-family: Arial, sans-serif;
  text-align: center;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup-content {
  padding: 20px;
}

.popup-buttons {
  margin-top: 20px;
}

.popup-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-buttons button:hover {
  background-color: #0056b3;
}

.input-container {
  margin-bottom: 20px;
  text-align: left;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
}

.input-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.success-popup {
  background-color: #4caf50;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-input {
  display: flex;
  width: 100%;
  padding: 8px;
  border-radius: 999px;
  background: white;
  align-items: center;
}

.search-icon {
  width: 24px;
  margin-right: 8px;
}

.search-box {
  width: 100%;
  border: none;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border-radius: 20px;
}

.table-container {
  margin: 8px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

@media (max-width: 600px) {
  .search-button, .search-input, .page-button {
    font-size: 14px;
  }
}

.blur-background::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  z-index: 10;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 40;
}