

/* style.css */




.imageSrc{

    background-color: blue;
    outline:solid green 1px;
}


/* Targeting the container */
.relative {
  /* Additional styling */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #f1f1f1; /* Thumb and track color for Firefox */
}

/* WebKit-based browsers (Chrome, Safari) */
.relative::-webkit-scrollbar {
  height: 2px; /* Reduce the height for horizontal scrollbar */
  width: 10px;  /* Reduce the width for vertical scrollbar if needed */
}

.relative::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 25px;
}

.relative::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 25px;
}

.relative::-webkit-scrollbar-thumb:hover {
  background: #555; /* Scrollbar color on hover */
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 40;
}

.phone-input-container {
  display: flex;
  align-items: center;
}
.custom-phone-input {
  width: 40%; /* or specify any width you need */
}


.phone-input-button {
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-left: 0%;
}

.phone-input-dropdown {
  max-height: 150px;
  overflow-y: auto;
}

::placeholder {
  color: rgba(255, 255, 255, 0.7); /* White color with some opacity */
  opacity: 1; /* Override browser's default opacity for placeholders */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.7);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.7);
}
