/* src/Components/Reusable/Popup.css */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    position: relative;
  }
  
  .popup-close {
    background-color: #F1F2F5; /* Red background color */
    color: #D8D8D8; /* White text color */
    padding: 5px 10px; /* Padding for better spacing */
    border: none; /* Remove default border */
    border-radius: 50%; /* Rounded button */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    position: absolute; /* Position it */
    top: 10px; /* Position from the top */
    right: 10px; /* Position from the right */
  }
  
  /* Optional: Add hover effect */
  .popup-close:hover {
    color: #9c9a9a; /* White text color */

  }