.file-search-bar-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    padding: 16px;
    margin-bottom: 20px;
}

.file-search-bar-title h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.file-search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.file-filter-btn {
    align-items: center;
    justify-content: center;
}

.file-search-btn-img{
    width: 131px; 
    height: 48px;
}
.file-filter-btn-img {
    width: 50px;
    height: auto;
    margin-top: 1px;
}

.file-directory-underline {
    border: none;
    border-top: 1px solid #E4E4E4;
    margin: 0;
    margin-bottom: 40px;
    width: 100%;
  }
  
  @media (max-width: 1372px) {
    .file-directory-underline {
        display: none;
    }
  }

.file-directory {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1300px;
    margin-left: 30px;
  }

.file-directory-header {
    display: flex;
    justify-content: space;
  }

