.input-box-container {
  background-color: #FFFFFF;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  width: 600px;
  height: 135px;
}

.input-box-container textarea {
  background-color: transparent; /* Make background transparent */
  border: none !important; /* Remove the border */
  outline: none !important; /* Remove the outline */
  resize: none; /* Disable resizing */
  width: 100%; /* Use the full width */
  height: 100%; /* Use the full height */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}


.filter-dropdown-container {
  background-color: #FFFFFF;
  padding: 5px;
  /* margin-bottom: 20px; */
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  width: 132px;
  height: 36px;
}
