.page-title-container {
  padding: 10px;
}

.page-title {
  font-size: 32px;
  color: #202224; 
  font-weight: 600;
}

@media (max-width: 1372px) {
  .page-title-container {
      display: none;
  }

  .page-title {
    font-size: 32px;
    color: #202224;
    font-weight: 600;
  }


