.staff-member-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 189px;
    width: 178px;
  }
  
  .card-header {
    position: relative;
  }
  
  .staff-member-image {
    width: 100%;
    height: 90px;
    object-fit: contain; 
  }
  
  .three-dot-button {
    position: absolute;
    top: 0px;
    right: -4px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .card-body {
    padding: 5px;
    height: 59px;
    text-align: center;
  }
  
  .staff-member-name {
    font-size: 12px;
    font-weight: bold;
  }
  
  .staff-member-role {
    color: #202224;
    font-size: 10px;
  }
  
  .staff-member-status {
    font-size: 8px;
  }

  /* Color for Online Status */
  .staff-member-status.online {
    color: #009D06;
  }
  
  /* Color for Offline Status */
  .staff-member-status.offline {
    color: #202224;
  }
  
  /* Color for Away Status */
  .staff-member-status.away {
    color: #960A0A;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-around;
    height: 40px;
    width: 178px;
    background: #F9FAFC;
  }
  
  .call-button{
    cursor: pointer;
    background: none;

    height: 40px;
  }
  .whatsapp-button {
    cursor: pointer;
    background: none;
    height: 40px;
  }

  /* Popup Modal */
  .staff-member-popup {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    height: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 1000;
    width: 150px; 
    transform: translateX(-50%); 
    border-radius: 16px; 
    margin-top: 8px; 
    font-weight: bolder;
  }

  .staff-member-popup2 {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    height: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 1000;
    width: 150px; 
    transform: translateX(-50%); 
    border-radius: 16px; 
    margin-top: 8px; 
    font-weight: normal;
    border-radius: 5px 5px 1px 1px;
  }

  .staff-member-popup3 {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    height: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 1000;
    width: 150px; 
    transform: translateX(-50%); 
    border-radius: 16px; 
    margin-top: 8px; 
    font-weight: normal;
    border-radius: 1px 1px 5px 5px;
  }
  .profile-files-popup {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    height: 80px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 1000;
    width: 150px; 
    transform: translateX(-50%); 
    border-radius: 16px; 
    margin-top: 10px;
    margin-left: 100px; 
    font-weight: bolder;
  }

  .staff-member-popup-image {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 12px;
  }

  .staff-member-popup-name {
    font-size: 12px;
    font-weight: bold;
  }
  
  