.whos-online-container {
    background-color: #FFFFFF;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 16px;
    box-shadow: 0px 0px 20px -10px  rgba(0,0,0,0.3);
    width: auto;
    height: auto;
  }

  .online-users {
    display: flex;
    text-align: left;
    align-items: start;
    justify-content: start;
    overflow-x: auto;
  }
